.alert-dialog
  padding 20px
  width 400px

  .alert-dialog-message
    margin 10px 0
    text-align center
    font-size 14px
    color #000

  .buttons
    float right
    margin 10px 0

    button
      modal-button()
