.confirm-dialog
  padding 20px
  width 500px

  .confirm-dialog-message
    margin 10px 0
    text-align center
    font-size 14px
    color #000

  .buttons
    float right
    margin 10px 0

    button
      modal-button()
      margin-left 10px
