.download-dialog
  padding 20px
  width 400px

  input
    margin 10px 0
    width 100%
    font-size 20px
    padding 5px

  .buttons
    float right
    margin 10px 0

    a
      modal-button()
      margin-right 10px
      text-decoration none
    a.disabled
      background-color #777
      
    button
      modal-button()
