.menu
  float left
  padding-left 10px
  .menu-anchor
    display inline-block
    cursor pointer
    svg
      fill #fff

.menu-hidden
  display none
.menu-showing
  display block

.menu-hidden, .menu-showing
  font-size 13px
  text-align center
  background none
  position fixed
  min-width 150px
  z-index 1000
  color dark-blue
  ul
    text-align left
    display block
    margin-top 0.5em
    padding 4px
    list-style none
    box-shadow 0 0 5px rgba(0, 0, 0, 0.15)
    background #fff

  li
    font light 12px sans-serif
    display block
    position relative
    margin 2px
    padding 4px
    cursor pointer
    transition all 0.2
    &.disabled
      color #aaa
      font-style italic
    &.separator
      border-top 1px solid #aaa
      padding 0
      height: 1px
      margin 4px
  li:hover
    background hsla(0,0,80,1.0)
    color #fff
    &.disabled
      color #aaa
      background none
      cursor not-allowed
    &.separator
      background none
