.document-store-auth
  .document-store-concord-logo
    background url("../img/concord-logo.png") no-repeat top left
    width 332px
    height 106px
    padding 0
    margin 50px 50px 10px 50px

  .document-store-footer
    text-align center
    button
      modal-button()

.google-drive-auth
  .google-drive-concord-logo
    background url("../img/google-drive-logo.png") no-repeat top left
    width 351px
    height 113px
    padding 0
    margin 50px 35px 0 35px

  .google-drive-footer
    text-align center
    button
      modal-button()

.localFileLoad
  .dropArea
    position relative
    overflow hidden
    border 1px dashed #00
    padding 150px 0
    text-align center
    font-size 14px
    input
      position absolute
      top 0
      right 0
      margin 0
      padding 0
      left 0
      bottom 0
      opacity 0
  .dropHover
    background-color #FFFBCC
