.menu-bar
  font-family: 'Arial', 'Helvetica', 'sans-serif'
  width 100%
  background-color #105262
  padding  8px 0px 8px
  color white
  height menu-bar-height
  box-sizing border-box

  enable-flex(row)

  span, i
    padding-left 0.5em
    padding-right 0.5em

  .menu-bar-content-filename
    label-font(size: 13px, transform: none)
    display inline-block
    padding-left 5px
    padding-top 1px
    cursor pointer
    no-select()

    input
      border 0
      padding 0
      margin 0
      background #fff
      label-font(size: 13px, transform: none)
      color #000
      width 300px
      outline none

  .menu-bar-file-status-alert
    label-font()
    background-color #f00
    padding 2px 7px
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    margin-left 20px

  .menu-bar-file-status-info
    font-style: italic

  .menu-bar-right
    padding-left 0.5em
    padding-right 0.5em

    .menu-hidden, .menu-showing
      right 10px

  span.gdrive-icon
    background url("../img/google-drive-16.png") no-repeat top left
    display inline-block
    width 16px
    height 16px
    padding 0
    position relative
    top 3px

  span.document-store-icon
    background url("../img/document-store-16.png") no-repeat top left
    display inline-block
    width 16px
    height 16px
    padding 0
    position relative
    top 3px
