.rename-dialog
  padding 20px
  width 400px

  input
    margin 10px 0
    width 100%
    font-size 20px
    padding 5px

  .buttons
    float right
    margin 10px 0

    button
      modal-button()
      margin-left 10px
    button.disabled
      background-color #777
