.autolaunch_iframe {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.center {
  text-align: center;
}
.data-select-dialog {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.data-select-dialog .header {
  background: #214d5a;
  width: 100%;
  color: #fff;
  font-size: 1.5em;
  padding: 5px;
  text-align: center;
}
.data-select-dialog .content {
  background: #fff;
  margin-top: 8px;
  padding: 0;
  font-size: 18px;
  color: #666;
  overflow: auto;
}
.data-select-dialog .question {
  padding: 5px 25px;
  text-align: center;
}
.data-select-dialog .versions {
  text-align: center;
}
.data-select-dialog .version-info {
  display: inline-block;
  width: 45%;
  margin: 2% 10px;
}
.data-select-dialog table.version-desc {
  width: 100%;
  border: none;
}
.data-select-dialog table.version-desc td {
  padding: 5px;
  font-size: 14px;
}
.data-select-dialog table.version-desc th {
  width: 100px;
  font-weight: normal;
}
.data-select-dialog .prop {
  font-weight: bold;
}
.data-select-dialog .dialog-button {
  background: #82bec8;
  border-radius: 5px;
  text-align: center;
  padding: 6px 10px;
  margin: 10px;
  width: auto;
  display: inline-block;
  color: #fff;
  cursor: pointer;
}
.data-select-dialog .dialog-button:hover {
  background: #679aa1;
}
.data-select-dialog .iframe-wrapper {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.data-select-dialog .preview {
  width: 100%;
  height: 250px;
  cursor: pointer;
}
.data-select-dialog .preview:hover {
  box-shadow: 2px 2px 4px #aaa;
}
.data-select-dialog .preview-label {
  font-size: 14px;
  padding: 5px;
  cursor: pointer;
}
.data-select-dialog .preview-label:hover {
  color: #333;
}
.data-select-dialog .preview-active {
  position: fixed;
  top: 40px;
  left: 3%;
  width: 94%;
  height: 90%;
  z-index: 100;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .data-select-dialog .preview-active iframe {
    width: 150%;
    height: 150%;
    transform: scale3d(0.66667, 0.66667, 1);
  }
}
@media (min-width: 1200px) {
  .data-select-dialog .preview-active iframe {
    width: 100%;
    height: 100%;
    transform: scale3d(1, 1, 1);
  }
}
.data-select-dialog .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
  background: #6ca0a9;
  padding-top: 10px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.data-select-dialog iframe {
  width: 300%;
  height: 300%;
  transform: scale3d(0.33333, 0.33333, 1);
  transform-origin: left top;
  border: solid 1px;
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b6e2eb;
  padding-top: 50px;
}
.loading-overlay table {
  width: 600px;
  margin: 0 auto;
  border: none;
}
.loading-overlay table td {
  padding: 5px;
  font-size: 15px;
}
.loading-overlay table th {
  width: 100px;
  font-weight: normal;
}
.loading-overlay .loading-text {
  font-size: 21px;
  vertical-align: middle;
  color: #555;
}
.copy-overlay {
  display: none;
}
.fullscreen-help {
  display: none;
  position: fixed;
  left: 0;
  bottom: 12px;
  height: 40px;
  width: calc(100% - 70px);
  text-align: right;
  line-height: 36px;
  font-size: 0;
  color: #8e8e8e;
  text-shadow: 1px 1px 5px #fff;
}
.fullscreen-help.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.5s ease-out 2s, visibility 0.01s linear 3.5s;
}
.fullscreen-icon {
  display: none;
  font-size: 45px;
  height: 50px;
  width: 50px;
  background-size: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10000;
  cursor: pointer;
  background-image: image-url("fullscreen.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  border-radius: 0;
  color: transparent;
}
.fullscreen-icon:hover {
  background-image: image-url("fullscreen-dark.svg");
}
.fullscreen-icon.fullscreen {
  background-image: image-url("fullscreen-exit.svg");
}
.fullscreen-icon.fullscreen:hover {
  background-image: image-url("fullscreen-exit-dark.svg");
}
