@require 'mixins/ordered-mixins.styl'
@require 'components/**/**'

body
  default-font()
  padding 0px
  margin 0px
  background-color #eee

.app
  absolute(0, 0, 0, 0)
  text-align left

.innerApp
  absolute(50, 0, 0, 0)

  iframe
    border: 0
    width: 100%
    height: 100%
